h1{
	font-family: 'Varela Round', sans-serif;
	font-size: 40px;
}

h2{
	font-family: 'Varela Round', sans-serif;
	font-size: 30px;
	text-align: left;
}

h3{
	font-family: 'Varela Round', sans-serif;
	font-size: 50px;
	text-align: center;
}

h4{
	font-family: 'Varela Round', sans-serif;
	text-align: center;
}

body {
	text-align: left;
	background-color: #aaaaaa;
	margin: 0;
}

p {
	text-align: left;
	font-family: 'Varela Round', Helvetica, sans-serif;
	font-size: 28;
}

/*---------*/

* {
  box-sizing: border-box;
}

html {
  font-family: "Varela Round", "Lucida Sans", sans-serif;
}

.button{
	background-color: #009900;
	border: 3px solid black;
	border-radius: 30px;
	color: black;
	padding: 10px 21px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 24px;
	margin: 4px 2px;
	cursor: pointer;
}

.button:hover {
  background-color: #00bb00;
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  /* ...and now for the proper property */
  transition: .2s;
}

.header {
  background-color: #eeeeee;
  color: #000000;
  padding: 0px;
  border: 5px solid black;
  text-align: center;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 15px;
  /*border: 1px solid red;*/ /* Uncomment this while you're working on it */
  min-height: 400px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.header2{
	text-align: center;
	padding: 0px;
}

.info-cards-holder {
	width: 1300px;
	margin-left: auto;
	margin-right: auto;
}

.info-cards-holder > .info-card {
	float: left;
	margin: 5px;
	padding: 5px;
	border: 2px solid #555555; /* same as BG currently */
	box-shadow: 0px 0px 10px #666666;
	border-radius: 5px;
	background: lightGrey;
	width: 250px;
	height: 400px;
}

.rounded-img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.img-container {
	text-align: center;
	display: block;
}
