h1{
	font-family: sans-serif;
}

body {
	text-align: center;
	background-color: #aaaaaa;
}

p {
	text-align: center;
	font-family: Helvetica;
	font-size: 24;
}

p.description{
	/*margin-left and margin-right serve to center the text element in this instance*/
	margin-left: auto;
    margin-right: auto;
	text-align: left;
	padding: 5px;
	border: 2px solid black;
	border-radius: 5px;
	background: lightGrey;
	max-width: 800px;
}

canvas {
	border: 5px solid black;
}
