h1{
	font-family: sans-serif;
	background-color: #eddca4;
	color: black;
	padding: 0px;
	border: 5px solid black;
	position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
}

h2 {
	font-family: sans-serif;
	background-color: #800000;
	color: #eddca4;
	padding: 0px;
	border: 5px solid #eddca4;
	text-align: center;
	font-size: 40px;
}

h3 {
	font-family: sans-serif;
	background-color: lightBlue;
	color: white;
	padding: 0px;
	border: 3px solid black;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	max-width: 100px;
}


body {
	text-align: center;
	background-color: #aaaaaa;
}


p.description{
	/*margin-left and margin-right serve to center the text element in this instance*/
	font-family: Helvetica;
	font-size: 24;
	margin-left: auto;
    margin-right: auto;
	margin-top: 100px;
	text-align: left;
	padding: 5px;
	border: 5px solid black;
	border-radius: 5px;
	background: lightBlue;
	max-width: 800px;
	color: black;
}

.game-log-holder{
	width: 1px;
	overflow: visible;
	margin-left: auto;
	margin-right: auto;
}

#game-log{
	position: absolute;
	z-index: 10;
	margin-left: 200px;
	margin-top: auto;
	text-align: left;
	padding: 5px;
	border: 5px solid black;
	border-left-width: 1px;
	border-radius: 0px 5px 5px 0px; /* top-left | top-right | bottom-right | bottom-left */
	background: lightGrey;
	overflow-y: scroll;
	height: 690px;
	width: 350px;
	background-color: #800000;
	color: #eddca4;
}

canvas {
	border: 5px solid black;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
}
